* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    text-align: center;
    margin-top: 50px;
    position: relative;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: var(--text-color-secondary);
}

.theme-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--icon-color);
}

.lang-toggle {
    position: absolute;
    top: 10px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--icon-color);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.card {
    background: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin-bottom: 15px;
    color: var(--text-color);
}

.card p {
    color: var(--text-color-secondary);
}

.project-list {
    display: flex;
    flex-direction: column;
}

.project {
    background: var(--project-background);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
    text-align: left;
}

.project img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-bottom: 10px;
    color: var(--text-color);
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-btn {
    display: block;
    background-color: var(--button-background);
    color: var(--button-text);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    max-width: 200px;
    min-width: 150px;
    width: 100%;
}

.contact-btn:hover {
    background-color: var(--button-background-hover);
    transform: scale(1.05);
}

footer {
    margin: 20px 0;
    text-align: center;
}

footer p {
    color: var(--text-color-secondary);
}

:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --text-color-secondary: #666;
    --icon-color: #333;
    --card-background: #fff;
    --project-background: #f9f9f9;
    --button-background: #058139;
    --button-text: #fff;
    --button-background-hover: #055225;
}

body.dark-mode {
    --background-color: #333;
    --text-color: #f4f4f4;
    --text-color-secondary: #aaa;
    --icon-color: #f4f4f4;
    --card-background: #444;
    --project-background: #555;
    --button-background: #555;
    --button-text: #f4f4f4;
    --button-background-hover: #777;
}
